**/node_modules

# Environment variables
.env

# Biome
.biome/

# OS files
**/.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~

# Debug outputs
*-preprocessed.png
*-preprocessed.json
*-debug.png
*-debug-*.png
*-annotated.png

# Translation logs
translator/translator/logs

# Generated page HTML files
reader/*/page*.html

# Generated panel bounding boxes
assets/**/page*.json
# Generated text bounding boxes
assets/**/page*-bubbles.json

# Python venv
**/.venv/*
